
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.panels .panel-heading {
    padding: 0;
}

* {
    box-sizing: border-box;
}
.col-container {
    display: table;
    width: 95%;
}
.col {
    display: table-cell;
    padding: 16px;
}

@media only screen and (max-width: 600px) {
    .col { 
        display: block;
        width: 90%;
    }
}

.model-items {
	margin-left: 25px;
}

.sidebar-active {
	color: #7386D5;
    background: #fff;
}

.panels {
	width: 90%;
	margin: 5%;
}

.panels .panel-heading {
	text-align: center;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.project-dropdown {
    
}

.gym-navbar {
    position: relative;
}

.dropdown-content {
    
}

.my-dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 100%;
    top: 13%;
}

.swot-dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 83%;
    top: 7%;
}

.canvas-dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 83%;
    top: 9%;
}

.shared-dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 100%;
    top: 25%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {background-color: #ddd}

.project-dropdown:hover .dropdown-content {
    display: block;
}

.project-dropdown:hover .dropbtn {
    background-color: #3e8e41;
}